@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 36px;
  color: #1b1b1b;
  font-weight: 300;
}
.title p {
  font-size: 18px;
  font-weight: 400px;
  color: #9da8ad;
}
.navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0;
}

.logo {
  color: #59CFE3;
}

ul li {
  list-style: none;
}
header {
  background-image: url("../images/top-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}
header .app-showcase {
  text-align: right;
}
header .block {
  padding-top: 70px;
}
header .block {
  display: inline-block;
  margin-bottom: 70px;
}
header .block h2 {
  margin-bottom: 15px;
  color: #fff;
}
header .block p {
  margin-bottom: 27px;
  margin-top: 0;
  color: #FFFFFF;
}
header .block .download-btn a {
  display: inline-block;
  margin-right: 10px;
}


#service {
  padding: 80px 0 100px;
}
#service .title {
  padding-bottom: 90px;
}
#service .title h2 {
  margin-top: 0;
}
#service .block {
  text-align: center;
}
#service .block h3 {
  color: #202d33;
  line-height: 48px;
  margin-bottom: 0;
}
#service .block p {
  color: #707b82;
  line-height: 30px;
  padding: 0 20px;
}
#showcase {
  background-image: url("../images/showcase-bg.jpg");
  background-size: cover;
  baxkground-repeat: no-repeat;
}
#showcase .block {
  padding-top: 90px;
}
#showcase .block img {
  margin-bottom: -228px;
}

#feature {
  padding: 325px 0 105px;
}

#feature .title {
  margin-bottom: 60px;
}

#feature .block .media:last-child {
  margin-bottom: 0;
}
#feature .block .media h4 {
  color: #1b1b1b;
}
#feature .block .media p {
  color: #999999;
}
#feature .block .media > .pull-left {
  padding-right: 20px;
}
footer {
  padding: 60px 0;
  background: #fafafa;
  border-top: 1px solid #d7d7d7;
}
footer .navbar-nav {
  float: none;
  display: inline-block;
}
footer .navbar-nav li a {
  font-size: 20px;
  font-weight: normal;
}
footer .navbar-default .navbar-nav > li > a {
  color: #989898;
  padding: 20px 25px;
}
footer .social-link ul {
  margin-bottom: 0;
}
footer .social-link ul li {
  display: inline-block;
}
footer .social-link ul li a {
  color: #cccccc;
  font-size: 25px;
  padding: 0 5px;
  display: inline-block;
}

.btn-xl {
  color: #ffffff;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #ffffff;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: #ffffff;
}


div#formulario {
  background-color: #222222;
  background-image: url("../images/iveco.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
div#formulario .section-heading {
  color: white;
}
div#formulario .form-group {
  margin-bottom: 25px;
}
div#formulario .form-group input,
div#formulario .form-group textarea {
  padding: 7px;
}
div#formulario .form-group input.form-control {
  height: auto;
}
div#formulario .form-group textarea.form-control {
  height: 158px;
}
div#formulario .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
div#formulario ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
div#formulario :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
div#formulario ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
div#formulario :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #bbbbbb;
}
div#formulario .text-danger {
  color: #e74c3c;
}
